h1, h2, h3, h4{
    text-align: center;
}
#container{
   min-width: 700px;
   max-width: 60em;
   margin: auto;
   padding: 1em;
   background-color:gray;
}
body{
    font: 30px;
}
.gallery{
    text-align: center;
}